<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Py')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-py" class="form-control" name="row[py]" type="text" value="{$row.py|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Numbering')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-numbering" data-rule="required" class="form-control" name="row[numbering]" type="text" value="{$row.numbering|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bitnum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bitnum" data-rule="required" class="form-control" name="row[bitnum]" type="number" value="{$row.bitnum|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Model_num')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-model_num" class="form-control selectpicker" name="row[model_num]">
                {foreach name="modelNumList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.model_num"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Max_pick_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-max_pick_num" data-rule="required" class="form-control" name="row[max_pick_num]" type="number" value="{$row.max_pick_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wh_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wh_name" class="form-control" name="row[wh_name]" type="text" value="{$row.wh_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wh_numbering')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wh_numbering" class="form-control" name="row[wh_numbering]" type="text" value="{$row.wh_numbering|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wh_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wh_id" data-rule="required" data-source="wh/index" class="form-control selectpage" name="row[wh_id]" type="text" value="{$row.wh_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wh_a_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wh_a_name" class="form-control" name="row[wh_a_name]" type="text" value="{$row.wh_a_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wh_a_numbering')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wh_a_numbering" class="form-control" name="row[wh_a_numbering]" type="text" value="{$row.wh_a_numbering|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wh_a_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wh_a_id" data-rule="required" data-source="wh/a/index" class="form-control selectpage" name="row[wh_a_id]" type="text" value="{$row.wh_a_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Aid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-aid" class="form-control" name="row[aid]" type="number" value="{$row.aid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{:$row.add_time?datetime($row.add_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Up_aid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-up_aid" class="form-control" name="row[up_aid]" type="number" value="{$row.up_aid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Up_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-up_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[up_time]" type="text" value="{:$row.up_time?datetime($row.up_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wall_numbering')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wall_numbering" class="form-control" name="row[wall_numbering]" type="text" value="{$row.wall_numbering|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wall_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wall_id" data-rule="required" data-source="wall/index" class="form-control selectpage" name="row[wall_id]" type="text" value="{$row.wall_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cid" class="form-control" name="row[cid]" type="number" value="{$row.cid|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
